<ui-banner
  title="The Best Products"
  subtitle="in Every Category"
  image="assets/banner-image.svg"
></ui-banner>

<h1>Categories</h1>

<section class="categories">
  <ui-categories-banner
    *ngFor="let category of categories$ | async"
    [category]="category"
    [routerLink]="['products']"
    [queryParams]="{ categories: category.name }"
  >
  </ui-categories-banner>
</section>

<h1>Featured Products</h1>

<section class="product-item">
  <ui-product-item
    *ngFor="let product of featuredProducts$ | async"
    [product]="product"
  ></ui-product-item>
</section>
